.header_container header {
  background: linear-gradient(90.1deg, #1765dc 0%, #000000 100%);
  box-shadow: 0px 0px 12px #333333;
  border-radius: 0px 0px 8px 8px;
  height: 62px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2em;
}

.header_left {
  display: flex;
  gap: 3em;
}
