@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");

.test {
  margin: 2em;
}

.toggle {
  margin: 2em 0;
}

.avatar {
  display: flex;
  align-items: center;
  gap: 1em;
  margin: 2em 0;
}

.tableTest {
  margin: 2em 0;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.test1 {
  border: 1px solid red;
}
.test2 {
  border: 1px solid blue;
}

.header-background {
  background: linear-gradient(90.1deg, #1765dc 0%, #000000 100%);
  box-shadow: 0px 0px 12px #333333;
  border-radius: 0px 0px 8px 8px;
}

.custom-header {
  background: linear-gradient(90.1deg, #1765dc 0%, #000000 100%);
  box-shadow: 0px 0px 12px #333333;
  border-radius: 0px 0px 8px 8px;
}

.custom-px {
  padding: 50px 100px;
}

.recent-faq-table-container {
  background: #ffffff;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.25);
  border-radius: 24px;
  padding: 25px;
}

#recent-faq-table {
  width: 100%;
}

#recent-faq-table th {
  color: #666666;
  font-size: 16px;
  text-align: left;
}
#recent-faq-table td {
  text-align: right;
}

#recent-faq-table td {
  color: #1765dc;
  font-size: 12px;
  text-align: left;
}

#recent-faq-table tr,
td,
th {
  padding: 8px 0px;
}

.invoice-card {
  width: 230px;
  height: 270px;
  background: #ffffff;
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
}

.linkBtn {
  width: 32px;
  height: 32px;
}

.sagar {
  padding: 4px 16px !important;
  height: 34px !important;
}

.modal-table {
  width: 100%;
}

#modal-table tr,
td {
  padding-left: 10px;
}

#contries-table {
  width: 100%;
  font-size: 16px;
}

#contries-table tr,
td {
  padding: 12px 0px;
}

#contries-table tr:first-child {
  background: #1765dc;
  color: #ffffff;
}
#contries-table tr:last-child {
  background: #e5effd;
  color: #161616;
}

.tableBtn {
  border: 1px solid white !important;
  margin-left: 1em;
  color: white !important;
}
#companyDecCardTable {
  width: 80%;
  padding: 0;
}

.tablebodycontainer {
  background-color: #1765dc !important;
}
